* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: grey;  /* Blue */
  }
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border: 3px solid black;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
    
  }
  .header-container:hover{
    background-color: chartreuse;
  }

  .header-container a:active{
    color: #fff;
    
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-around;
  }
  
  .links {
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 60px;
    justify-content: flex-end;
  }
  .signup {
    margin-left: auto;
  }

  .header {
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: stretch
  }

.social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
}
.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;  /* flex-direction: row-reverse; */
  align-items: center;
}
.photo-grid-item{
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.footer-two{
  background-color: #59da5f;
  flex: 4;
}